[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[user]
    name = Feather Osborn
    email = tuffylock@gmail.com
[push]
    default = simple

[log]
    decorate = short

[pager]
    show-branch = true

[color]
    ui = auto

[alias]
    s = status
    l = log --oneline -10
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    a = add -p
    aa = add -A
    c = commit
    cm = commit -m
    amen = commit --amend
    co = checkout
    cob = checkout -b
    mas = checkout master
    puush = push -u origin HEAD
    undo = reset --soft HEAD~1
    ew = checkout -- .
    wipeout = reset --hard HEAD~1
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    lastchange = rev-list -n 1 HEAD -- # https://stackoverflow.com/a/1113140
    empty = commit --allow-empty -m "empty commit"
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / # https://stackoverflow.com/a/22183573
    # https://www.atlassian.com/blog/git/advanced-git-aliases
    lastchangeurl = "!f() { \
        git rev-list -n 1 HEAD -- $1 | sed 's/^/https:\\/\\/github.com\\/mode\\/webapp\\/commit\\//'; \
      }; f"
[core]
    editor = vim
